@tailwind base;
@tailwind components;
@tailwind utilities;


/* font */
.font {
      font-family: "Oswald", sans-serif;
      font-size: 4.9rem;
      font-weight: 400;
      text-transform: capitalize;
}

.span {
      color: rgb(22, 164, 22);
      font-size: 4.9rem;
}

/* fon-small */
.font-small {
      font-family: "Oswald", sans-serif;
      font-size: 1.7rem;
      font-weight: bold;
      text-transform: capitalize;
}

.span-small {
      font-size: 1.7rem;
      color: rgb(22, 164, 22);
}

/* font-title */
.font-title {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 1.9rem;
      text-transform: capitalize;
      color: black;
}

/* font-text */
.font-text {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 1.3rem;
      text-transform: capitalize;
      color: black;
      transition: all 0.4s linear;
}

.font-text:hover {
      color: rgb(36, 196, 36);
      transition-duration: 0.4s;
      transform: translateY(-45%);
}

hr {
      width: 100%;
      height: 3px;
      left: 0;
      position: absolute;
      bottom: -5px;
      background-color: blue;
      border: none;
      outline: none;
}

/* font-desc */
.font-desc {
      color: rgb(122, 114, 114);
      font-size: 1.2rem;
      text-align: start;
}

/* btn */

.btn {
      font-family: "Oswald", sans-serif;
      width: 150px;
      border: 1px solid black;
      border-radius: 17px;
      padding: 7px 27px;
      outline: none;
      display: block;
      transition: all 0.4s linear;
      text-transform: capitalize;
      background-color: rgb(255, 186, 215);
      color: black;
      font-weight: bold;
}

.btn:hover {
      color: white;
      background-color: rgb(20, 185, 20);
      transition-duration: 0.4s;
}

/* form */
.form{
      text-transform: capitalize;
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
}
.input{
      width: 330px;
      padding: 5px 25px;
      display: block;
      border: none;
      background-color: aliceblue;
      color: gray;
      border-radius: 7px;
      outline: none;
      font-size: 1.2rem;
      transition: all 0.3s linear;
      margin-top: 5px;
      text-transform: capitalize;
      cursor: pointer;
}
.input:hover{
      transform:scale(0.9);
      transform: translateX(-5px);
      transition-duration: 0.3s;
      background-color: rgb(49, 147, 49);
      color: rgb(208, 160, 160);
}
.input::placeholder{
      text-transform: capitalize;
}
.input:hover::placeholder{
      color: red;
}